
.w3-italic { font-style: italic; }
.w3-bold { font-weight: bold;}

footer#appFooter {
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: 0px -1px 10px gray;
}

[btn-add-note] {
  position: fixed;
  right: 10px;
  bottom: 62px;
}
[btn-expand]{ position: relative; }
[btn-expand] i {
  position: absolute;
  display: table-cell;
  top: -4px;
  right: 0;
  padding: 0 5px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 19px;
}

textarea{ resize: none }

#appMenu.sticky  { position: fixed; top: 0; left:0; box-shadow: 0px 1px 10px gray; z-index:200;overflow: visible; }
#appMenu.sticky + #app-content-container { padding-top: 40px !important; }

#notificationPanel {position:fixed;max-height:700px; overflow:auto; z-index:100; top:114px; width: 100%; }
#notificationPanel div { background-color: white;margin: 6px; transition: all 1s; overflow:hidden;}
#notificationPanel div.msg{box-shadow: 2px 2px 5px darkgrey;}

#notificationPanel.sticky {top:40px; max-height:640px;}

#appMenu.w3-bar .w3-button, .pol-btn { border-bottom: solid 3px transparent;}
#appMenu.w3-bar .w3-button.selected { border-bottom: solid 3px #ccc;}

tr.w3-center td, tr.w3-center th{ text-align:center; vertical-align: middle; padding:8px;}
i.pol-C { display:none}
i.pol-N { transform: rotate(90deg);vertical-align: middle;}
i.pol-NE { transform: rotate(135deg);vertical-align: middle;}
i.pol-NO { transform: rotate(45deg);vertical-align: middle;}
i.pol-S { transform: rotate(-90deg);vertical-align: middle;}
i.pol-SE { transform: rotate(-135deg);vertical-align: middle;}
i.pol-SO { transform: rotate(-45deg);vertical-align: middle;}
i.pol-E { transform: rotate(-180deg);vertical-align: middle;}
i.pol-O { vertical-align: middle; }

img.book{ background-color:silver;min-width:110px;min-height:153px;}
.img-container { background:gray url('') center center no-repeat; 
                 background-size: auto;
                 position:absolute;
                 top:38px;
                 bottom:0;
                 left:0;
                 right:0;}
.page-container {position:absolute;top:38px;bottom:0;left:0;right:0;}