
.w3-italic {
  font-style: italic;
}

.w3-bold{
  font-weight: bold;
}

footer#appFooter {
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: 0px -1px 10px gray;
}

[btn-add-note] {
  position: fixed;
  right: 10px;
  bottom: 62px;
}
[btn-expand]{ position: relative; }
[btn-expand] i {
  position: absolute;
  display: table-cell;
  top: -4px;
  right: 0;
  padding: 0 5px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 19px;
}


#appMenu.sticky  { position: fixed; top: 0; left:0; box-shadow: 0px 1px 10px gray; z-index:200; }
#appMenu.sticky + #app-content-container { padding-top: 40px !important; }

textarea{ resize: none }

#appMenu.w3-bar .w3-button {
  border-bottom: solid 3px transparent;
}
#appMenu.w3-bar .w3-button.selected {
  border-bottom: solid 3px #ccc;
}